.app_layout {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-rows: 70px 1fr;
    grid-template-columns: 200px 1fr;
    width: 100vw;
    height: 100vh;

    &__header {
        grid-area: header;
    }

    &__sidebar {
        grid-area: sidebar;
    }

    &__main {
        grid-area: main;
    }
}
